<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.mapper.DictionaryMapper">
    <resultMap id="DictionaryResultMap" type="com.eric.entity.Dictionary">
        <result column="typeId" jdbcType="VARCHAR" property="typeId" />
        <result column="typeName" jdbcType="VARCHAR" property="typeName" />
        <result column="parentType" jdbcType="VARCHAR" property="parentType" />
    </resultMap>

    <select id="getDictionary" resultMap="DictionaryResultMap">
        SELECT TYPE_ID "typeId", TYPE_NAME "typeName", PARENT_TYPE "parentType"
          FROM CIS_DICTIONARY
         WHERE TYPE_ID = #{typeId}#
    </select>
</mapper>