<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eric.mapper.UserMapper" >
    <resultMap id="UserResultMap" type="com.eric.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>

    <select id="getUserInfo" resultMap="UserResultMap" parameterType="java.lang.Integer">
      select * from eric_user_info where id = #{id, jdbcType=INTEGER}
    </select>
</mapper>